
:root{
  --primary-color:black;
  --text-color:rgba(99, 110, 114,1.0);
  --bg-color:rgba(223, 230, 233,1.0);
  --bg-card-color:rgba(0, 206, 201,1.0);
  --bg-bar-color: rgb(136, 135, 135);
  --border-articles: 0.4em;
  --transition: color 0.3s, background-color 0.4s easy-in-out;
  --skills-bar-length: 0%;
}

@font-face {
  font-family: "minecraft" ;
  src: url(/assets/Minecraft.ttf);
}
*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
    min-height: 100vh;
    margin: 0;
}

body.dark{
  --bg-color:rgba(99, 110, 114,1.0);
  --text-color:rgba(223, 230, 233,1.0);
  --bg-card-color:rgba(45, 52, 54,1.0);
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-size: 1rem;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}

li {
list-style-type: none;
}


.header{
    background-color: #282828;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    color:white;
  }

  /* boton del modo oscuro */
  .toggle-theme{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .toggle-theme__icon{
    margin-right: 0.5em;
    width: 20px;
  }
  .toggle-theme__text{
    font-size: 1rem;
  }

  article{
    padding: 1rem;
    min-height: 100vh;
  }

  .header .button{
    display: none;
    background-color: #282828;
    border: none;
  }
  .header .svg{
    width:2em;
    height:2em;
    color: aliceblue;
    background-color: #282828;
  }

  .header .ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    
  }
  .header .li{
    margin: 0 .5em;
  }

  .home{
    font-family: "minecraft";
    display: flex;
  }

  .titulo{
    font-family: "minecraft";
    font-size: 4rem;
  }
  
  img{
    max-width: 14rem;
    max-height: 14rem;
    border-radius: 50%;
  }
  
  /* .home-container{
    /* display: flex;
    justify-content: center;
    flex-wrap:wrap ;
  } */

  /* skills bar */

  .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .card-skills {
    flex-basis: 20rem;
    flex-grow: inherit;
    /* flex-basis:0;
    flex-grow: 999;
    min-width: 50%; */
  }

  .skills__header{
    display: flex;
    justify-content: space-between;
    /* width: 150px; */
    margin-left: auto;
  }
  .skills__level{
    font-size: 1em;
  }
  .skills__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .skills__tech{
    margin-right: 1rem;
  }
  .skills__bar,
  .skills__bar::after
  {
    position: relative;
    width: 150px;
    height: 10px;
    background-color:var(--bg-bar-color) ;
    border-radius: var(--border-articles);
    overflow: hidden;
  }
  .skills__bar::after{
    content: "";
    position: absolute;
    left: -150px;
    background-color: var(--primary-color);
    transition: var(--transition);
  }
  .skills__bar--80::after{
    --skills-bar-length: 80% ;
    animation: skills-bar-fill 1s forwards ;
  }
  .skills__bar--70::after{
    --skills-bar-length: 70% ;
    animation: skills-bar-fill 1s forwards ;
  }
  .skills__bar--60::after{
    --skills-bar-length: 60% ;
    animation: skills-bar-fill 1s forwards ;
  }
  .skills__bar--90::after{
    --skills-bar-length: 90% ;
    animation: skills-bar-fill 1s forwards ;
  }
  .skills__bar--25::after{
    --skills-bar-length: 25% ;
    animation: skills-bar-fill 1s forwards ;
  }
  .skills__bar--10::after{
    --skills-bar-length: 5% ;
    animation: skills-bar-fill 1s forwards ;
  }

  @keyframes skills-bar-fill {
  
    to{
    transform: translatex(var(--skills-bar-length));
    }
  }
  
  .skill-logo{
    width: 2rem;
    padding-left: 1rem;
  }

  .card-project{
    background-color: #282828;
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
  }

  .card__card-img{
    /* min-width: 20rem; */
    max-width: 5rem;
    border-radius: var(--border-articles);
    overflow: hidden;
  }

  .button{
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: var(--primary-color);
    margin-right: 1rem;
  }

  /* .button-primary{
background-color: ;
  }

  .button-secondary{
    
  } */

  /* media queries */
  @media screen and (max-width:480px){
    .header .button{
      display: block;
      cursor: pointer;
    }
    .header .nav{
      width:100%;
      /* display: none; */
      height:0;
      pointer-events: none;
      overflow: hidden;
      transition: all .5s ease;
  
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }
    .header .nav.activo{
      /* display: block; */
      height:50vh;
      pointer-events: auto;
    }
    .header .ul{
      flex-direction: column;
    }
    .header .li{
      margin: 1rem 0;
    }
  
  }

