
:root{
  --primary-color:rgba(9, 132, 227,1.0);
  --text-color:rgba(99, 110, 114,1.0);
  --bg-color:rgba(223, 230, 233,1.0);
  --bg-card-color:rgba(0, 206, 201,1.0);
  --bg-bar-color: rgb(136, 135, 135);
  --border-articles: 0.4em;
  --trasition: color 0.3s, background-color 0.4s easy-in-out;
  --skills-bar-length: 0%;
}

*{
  box-sizing: border-box;
}

body{
  background-color: var(--bg-color);
  margin: 0;
  color: var(--text-color);
  transition: var(--trasition);
  font-family: sans-serif;
}
body.dark{
  --bg-color:rgba(99, 110, 114,1.0);
  --text-color:rgba(223, 230, 233,1.0);
  --bg-card-color:rgba(45, 52, 54,1.0);
  background-color: var(--bg-color);
}
a{
  text-decoration: none;
  color: var(--primary-color);
  padding-left: 0.5em;
}
img{
  max-width: 100%;
  display: block;
}
.icons{
  color: var(--primary-color);
  
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-card-color);
  height: 75px;
  padding: 0 1.5em;
  transition: var(--trasition);
}

.switches{
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-theme{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.toggle-theme__icon{
  margin-right: 0.5em;
  width: 20px;
}
.toggle-theme__text{
  font-size: 1rem;
}

.colors{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 120px;
}

.colors-element{
  width: 30px;
  height: 20px;
  border: solid 1px var(--text-color);
  cursor: pointer;
  background-color: var(--primary-color);
}
.colors-element__blue{
  --primary-color: rgba(9, 132, 227,1.0);
}
.colors-element__green{
  --primary-color: rgba(0, 184, 148,1.0);
}
.colors-element__purple{
  --primary-color: rgba(108, 92, 231,1.0);
}
.colors-element__orange{
  --primary-color: rgba(225, 112, 85,1.0);
}

.main{
  display: grid;
}

.card__title{
  color: var(--primary-color);
  transition: var(--trasition);
}
.card{
  padding: 1em;
  background-color: var(--bg-card-color);
  border-radius: var(--border-articles);
}
.card__card-img{
  min-width: 290px;
  border-radius: var(--border-articles);
  overflow: hidden;
}
.card__header{
  padding: 1em 0;
}
.card__title{
  margin: 0;
  font-size: 1.8em;
}
.card__sub-title{
  font-size: 1.4em;
  opacity: 0.7;
}
.card__links{
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}
.card-text{
  font-size: 0.9em;
  line-height: 1.5em;    
} 
.icon{
  color: var(--primary-color);
}

.section{
  display: grid;
  padding: 2em;
  gap: 0.5em;
} 

.skills__header{
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin-left: auto;
}
.skills__level{
  font-size: 1em;
}
.skills__item{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.skills__bar,
.skills__bar::after
{
  position: relative;
  width: 150px;
  height: 10px;
  background-color:var(--bg-bar-color) ;
  border-radius: var(--border-articles);
  overflow: hidden;
}
.skills__bar::after{
  content: "";
  position: absolute;
  left: -150px;
  background-color: var(--primary-color);
  transition: var(--trasition);
}
.skills__bar--80::after{
  --skills-bar-length: 80% ;
  animation: skills-bar-fill 1s forwards ;
}
.skills__bar--70::after{
  --skills-bar-length: 70% ;
  animation: skills-bar-fill 1s forwards ;
}
.skills__bar--60::after{
  --skills-bar-length: 60% ;
  animation: skills-bar-fill 1s forwards ;
}
.skills__bar--90::after{
  --skills-bar-length: 90% ;
  animation: skills-bar-fill 1s forwards ;
}
.skills__bar--25::after{
  --skills-bar-length: 25% ;
  animation: skills-bar-fill 1s forwards ;
}
.skills__bar--10::after{
  --skills-bar-length: 5% ;
  animation: skills-bar-fill 1s forwards ;
}

.project-tags{
  display: flex;
  margin: 0.8em 0;
  font-size: 0.8em;
}

.project-tag{
  margin: 0.5em 1em;
  padding: 0.4em 0.6em;
  border-radius: var(--border-articles);
  background-color: var(--primary-color);
  color: var(--text-color);
}

.buttons{
  display: flex;
  justify-content: space-between;
}
.button{
  display: flex;
  padding: 0.8em 1em;
  border-radius: var(--border-articles);
  transition: var(--trasition);
  color: var(--text-color);
  align-items: center;
}
.button-primary{
  background-color: var(--primary-color);
 
}
.button-secondary{
  background-color: transparent;
  border: solid 2px var(--primary-color);
}

@keyframes skills-bar-fill {
  
  to{
  transform: translatex(var(--skills-bar-length));
  }
}

@media (hover:hover){
  .button-primary:hover{
    background-color: transparent;
    border: solid 2px var(--primary-color);
  }
  .button-secondary:hover{
    background-color: var(--primary-color);
  }
}

@media screen and (min-width:1050px) {
  .main{
    grid-template-columns: min-content 1fr;
  }
  .section-right{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, min-content);
  }
  .card-project{
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column: 1/-1;
  }
  .project{
    margin-left: 2em;
    position: relative;
  }
  .project-tags{
    width: 300px;
    font-size: 1em;
  }
  .buttons{
    position: absolute;
    bottom: 1em;
    width: 200px;
  }
  .project-tags{
    display: flex;
    justify-content: space-between;
    margin: 0.8em 0;
    width: 200px;
    font-size: 0.8em;
  }
}

  








